#portfolio.jh-page(data-active='')
  +breadcrumb Portfolio
  .row
    .col-md-12.text-center
        p Some of the websites and projects JolHarg Ltd has been involved with are:
  .row
    +card('Kompli Global', 'https://kompli-global.com', 'kompli').
      Due diligence and search intelligence
    +card('CANDDi', 'https://canddi.com', 'canddi').
      Smart web analytics
    +card('Cloudbanter', 'http://cloudbanter.com/', 'cloudbanter').
      Mobile operator messaging system
    +card('Revive Ad server REST API', 'https://www.reviveadserverrestapi.com/', 'reviverest').
      RESTful API for Open source ad server
    +card-defunct('ThemeAttic', 'sample').
      Inventors' search platform
    +card('SoAmpli', 'https://soampli.com', 'soampli').
      Social media amplification
    +card('Viewex', 'http://viewex.co.uk', 'viewex').
      Advertising revenue optimisation
    +card('Mobile Fun', 'http://mobilefun.co.uk', 'mobilefun').
      Web shop for phones and accessories
    +card('Gamingzap', 'http://gamingzap.com', 'gamingzap').
      Web shop for gaming devices and accessories
    +card('Gearzap', 'http://gearzap.com', 'gearzap').
      Web shop for cases and accessories
    +card('Rattray Mosaics', 'http://rattraymosaics.co.uk', 'rattray').
      Portfolio and personal website of local mosaic artist
    +card('Shepton Mallet Digital Arts Festival', 'http://sheptondigitalarts.co.uk', 'smdaf').
      Local festival site
    +card('SSOHA', 'http://ssoha.org.uk', 'ssoha').
      Somerset School of Oriental Healing Arts