#techs.page
  +breadcrumb Technologies
  .row
    .col-md-12.text-center
      p Technologies used by JolHarg Ltd include:
  .row
    .col
      img(style='max-width: 25%' src='img/sample.png')
    .col
      h2 HTML 5.1
      | WHATWG&apos;s standard for the web
  .row.bg-primary.text-white
    .col-sm-6.text-center
      h2 CSS 4
      | Latest styling standards
    .col-sm-6
      img(style='max-width: 25%' src='img/sample.png')
  .row
    .col
      img(style='max-width: 25%' src='img/sample.png')
    .col
      h2 ECMAScript (ECMA-262) 2017+
      | Latest edition of Javascript&apos;s upstream from Ecma