div
  ul.navbar-nav
    +menuitem('#portfolio') Portfolio
    // +menuitem('#techs') Technologies
    +menuitem('#fs') Free Software
    // +menuitem('#pricing') Pricing
    // +menuitem('#blog') Blog
    // +menuitem('#about') About
    +menuitem('#contact') Contact