include mixins/index
doctype html
head
  include includes/head
include includes/header
main.container-fluid
  .tab-content
    include pages/portfolio
    include pages/techs
    include pages/fs
    include pages/pricing
    include pages/blog
    include pages/about
    include pages/contact