include includes/mixins
doctype html
head
  include includes/head.pug
header
  nav.p-0.p-sm-2.navbar.d-block.d-sm-flex.fixed-top.navbar-expand.navbar-dark.bg-primary(role='navigation')
    a.w-100.p-0.pt-1.pt-sm-0.w-sm-auto.text-center.text-sm-left.navbar-brand(href='#portfolio')
      img(src='/img/jolharg.png' style='height:32px' alt='')
    div
      ul.navbar-nav
        +menuitem('#portfolio') Portfolio
        // +menuitem('#techs') Technologies
        +menuitem('#fs') Free Software
        // +menuitem('#pricing') Pricing
        // +menuitem('#blog') Blog
        // +menuitem('#about') About
        +menuitem('#contact') Contact
main.container-fluid
  .tab-content
    #portfolio.jh-page(data-active='')
      .row
        .col
          small &raquo; Portfolio
      .row
        .col-md-12.text-center
          p Some of the websites and projects JolHarg Ltd has been involved with are:
      .row
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/kompli.png')
            h4.card-title Kompli Global
            p.card-text Due diligence and search intelligence
            a.btn.btn-secondary(href='https://kompli-global.com' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/canddi.png')
            h4.card-title CANDDi
            p.card-text Smart web analytics
            a.btn.btn-secondary(href='https://canddi.com' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/cloudbanter.png')
            h4.card-title CloudBanter
            p.card-text Mobile operator messaging system
            a.btn.btn-secondary(href='http://cloudbanter.com/' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/reviverest.png')
            h4.card-title Revive Ad server REST API
            p.card-text RESTful API for Open source ad server
            a.btn.btn-secondary(href='https://www.reviveadserverrestapi.com/' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/sample.png')
            h4.card-title ThemeAttic
            p.card-text Inventors search platform
            strong Website defunct
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/soampli.png')
            h4.card-title SoAmpli
            p.card-text Social media amplification
            a.btn.btn-secondary(href='https://soampli.com' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/viewex.png')
            h4.card-title Viewex
            p.card-text Advertising revenue optimisation
            a.btn.btn-secondary(href='http://viewex.co.uk' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/mobilefun.png')
            h4.card-title Mobile Fun
            p.card-text Web shop for phones and accessories
            a.btn.btn-secondary(href='http://mobilefun.co.uk' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/gamingzap.png')
            h4.card-title Gamingzap
            p.card-text Web shop for gaming devices and accessories
            a.btn.btn-secondary(href='http://gamingzap.com' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/gearzap.png')
            h4.card-title Gearzap
            p.card-text Web shop for cases and accessories
            a.btn.btn-secondary(href='http://gearzap.com' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/rattray.png')
            h4.card-title Rattray Mosaics
            p.card-text
              | Portfolio and personal website of local mosaic
              | artist
            a.btn.btn-secondary(href='http://rattraymosaics.co.uk' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/smdaf.png')
            h4.card-title Shepton Mallet Digital Arts Festival
            p.card-text Local festival site
            a.btn.btn-secondary(href='http://sheptondigitalarts.co.uk' target='_blank') Visit
        .card.col-md-4.text-center
          .card-body
            img.card-img-top(src='img/ssoha.jpg')
            h4.card-title SSOHA
            p.card-text Somerset School of Oriental Healing Arts
            a.btn.btn-secondary(href='http://ssoha.org.uk' target='_blank') Visit
    #techs.jh-page
      .row
        .col
          small &raquo; Technologies
      .row
        .col-md-12.text-center
          p Technologies used by JolHarg Ltd include:
      .row
        .col
          img(style='max-width: 25%' src='img/sample.png')
        .col
          h2 HTML 5.1
          | WHATWG&apos;s standard for the web
      .row.bg-primary.text-white
        .col-sm-6.text-center
          h2 CSS 4
          | Latest styling standards
        .col-sm-6
          img(style='max-width: 25%' src='img/sample.png')
      .row
        .col
          img(style='max-width: 25%' src='img/sample.png')
        .col
          h2 ECMAScript (ECMA-262) 2017+
          | Latest edition of Javascript&apos;s upstream from Ecma
    #fs.jh-page
      .row
        .col
          small &raquo; Free Software
      .row
        .col-md-12.text-center
          p
            | Some of the free software projects JolHarg Ltd has created or contributed to are:
      #inside.row
    #pricing.jh-page
      .row
        .col
          small &raquo; Pricing
    #blog.jh-page
      .row
        .col
          small &raquo; Blog
    #about.jh-page
      .row
        .col
          small &raquo; About
    #contact.jh-page
      .row
        .col
          small &raquo; Contact
      .row
        .col-lg-6.offset-lg-3.col-sm-12.col-md-12.col-xs-12
          p If you would like to contact JolHarg or make an enquiry, please use this form:
          form(action='https://formspree.io/website@jolharg.com' method='post')
            .form-group
              label(for='name') Your name
              input#name.form-control(type='text' placeholder='John Smith' name='name' autocomplete='name')
            .form-group
              label(for='email') Your email
              input#email.form-control(type='email' aria-describedby='emailHelp' placeholder='john@smith.com' name='email' autocomplete='email')
              small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
            .form-group
              label(for='subject') Summary
              input#subject.form-control(type='text' placeholder='Website for me...' name='_subject')
            .form-group
              label(for='message') Your message
              textarea#message.form-control(placeholder='I am interested in a website...' rows='10' name='message')
            .form-group
              input.btn.btn-primary(type='submit' value='Send')