<main class="container-fluid">
    <div class="tab-content">
        <jh-page id="portfolio" data-active>
            <jh-page-portfolio></jh-page-portfolio>
        </jh-page>
        <!--
        <jh-page id="techs">
            <jh-page-techs></jh-page-techs>
        </jh-page>
        -->
        <jh-page id="fs">
            <jh-page-fs></jh-page-fs>
        </jh-page>
        <!--
        <jh-page id="pricing">
            <jh-breadcrumb>Pricing</jh-breadcrumb>
        </jh-page>
        <jh-page id="blog">
            <jh-breadcrumb>Blog</jh-breadcrumb>
        </jh-page>
        <jh-page id="about">
            <jh-breadcrumb>About</jh-breadcrumb>
        </jh-page>
        -->
        <jh-page id="contact">
            <jh-page-contact></jh-page-contact>
        </jh-page>
    </div>
</main>
