<main class="container-fluid">
    <div class="tab-content">
        <jh-page id="portfolio" data-active>
            <jh-page-portfolio></jh-page-portfolio>
        </jh-page>
        <jh-page id="techs">
            <jh-breadcrumb>Technologies</jh-breadcrumb>
            <div class="row">
                <div class="col">
                    <img style="max-width: 25%" src="img/sample.png"/>
                </div>
                <div class="col">
                    <h2>HTML 5.1</h2>
                    WHATWG's standard for the web
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img style="max-width: 25%" src="img/sample.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>CSS 4</h2>
                    Latest styling standards
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img style="max-width: 25%" src="img/sample.png"/>
                </div>
                <div class="col">
                    <h2>ECMAScript (ECMA-262) 2017+</h2>
                    Latest edition of Javascript's upstream from Ecma
                </div>
            </div>
        </jh-page>
        <jh-page id="fs">
            <jh-breadcrumb>Free Software</jh-breadcrumb>
        </jh-page>
        <jh-page id="pricing">
            <jh-breadcrumb>Pricing</jh-breadcrumb>
        </jh-page>
        <jh-page id="blog">
            <jh-breadcrumb>Blog</jh-breadcrumb>
        </jh-page>
        <jh-page id="about">
            <jh-breadcrumb>About</jh-breadcrumb>
        </jh-page>
        <jh-page id="contact">
            <jh-breadcrumb>Contact</jh-breadcrumb>
        </jh-page>
    </div>
</main>
