<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" role="navigation">
        <a class="navbar-brand" href="#portfolio">
            <img src="/img/jolharg.png" style="height:32px" alt=""/>
        </a>
        <div>
            <ul class="navbar-nav">
                <jh-header-link href="#portfolio">Portfolio</jh-header-link>
                <!--
                <jh-header-link href="#techs">Technologies</jh-header-link>
                -->
                <jh-header-link href="#fs">Free Software</jh-header-link>
                <!--
                <jh-header-link href="#pricing">Pricing</jh-header-link>
                <jh-header-link href="#blog">Blog</jh-header-link>
                <jh-header-link href="#about">About</jh-header-link>
                -->
                <jh-header-link href="#contact">Contact</jh-header-link>
            </ul>
        </div>
    </nav>
</header>
